################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/bin/Debug
/.vs/lab1/v16
/ObjParser/bin/Debug
/ObjParser/obj/Debug
/packages/System.Numerics.Vectors.4.5.0
/lab1.World/bin/Debug
/lab1.World/obj/Debug
/lab1.View.3D/bin/Debug
/lab1.View.3D/obj/Debug
